.primary{
  text-align: center;
}

ul{
  list-style-type: none;
  margin-left: 4px;
  margin-right: 4px;
  padding-inline-start: 0px;
}
li{
  margin: 0px !important;
}

.line{
  border: 1px solid #000;
  padding-inline-start: -5px;
}
.weather-icon-small{
  height: 1.5em;
}
