<header>
  <span>Weather</span>
  <select [(ngModel)]="selected" (ngModelChange)="changeLang($event)">
    <option value="en"  [selected]="lang == 'en'">EN</option>
    <option value="si" [selected]="lang == 'si'">SI</option>
  </select>
</header>

<div class="over">

  <div class="content">
    <div class="time-badge">
      <span class="time-text">Maribor, {{'acquired' | translate}} {{currentTime | date:"dd.MM.YY, HH:MM"}}</span>
    </div>
    <div class="forecast-container">
      <div class="forecast-window">
        <app-show-weather></app-show-weather>
      </div>
      <div class="forecast-window">
        <app-forecast></app-forecast>
      </div>
    </div>
    <div class="refresh">
      <button class="btn" (click)="refreshWeather()">{{'refresh' | translate}}</button>
    </div>
  </div>

</div>

