<header>
  <div class="container">
    <div class="row">
  <span class="website-name">Weather</span>
  </div>
  <div class="row">
    <div class="select-row">
  <select class="select" [(ngModel)]="selected" (ngModelChange)="changeLang($event)">
    <option value="en"  [selected]="lang == 'en'">EN</option>
    <option value="si" [selected]="lang == 'si'">SI </option>
  </select>
  </div>
</div>
</div>
</header>

<div class="loader" *ngIf="loading$ | async"></div>
<div class="over">
  <div class="content">
    <div class="time-badge">
      <span class="time-text">Maribor, {{'acquired' | translate}} {{dateMoment}}  {{'at' | translate}} {{formatTime}}</span>
    </div>
    <div class="forecast-container">
      <div class="forecast-window">
        <app-show-weather></app-show-weather>
      </div>
      <div class="forecast-window">
        <app-forecast></app-forecast>
      </div>
    </div>
    <div class="refresh">
      <button class="btn" (click)="refreshWeather()">{{'refresh' | translate}}</button>
    </div>
  </div>

</div>



