<header>
  <span>Weather</span>
</header>

<div class="over">

  <div class="content">
    <div class="time-badge">
      <span class="time-text">Maribor, pridobljeno {{currentTime | date:"dd.MM.YY, HH:MM"}}</span>
    </div>
    <div class="forecast-container">
      <div class="forecast-window">
        <app-show-weather></app-show-weather>
      </div>
      <div class="forecast-window">
        <app-forecast></app-forecast>
      </div>
    </div>
    <div class="refresh">
      <button class="btn" (click)="refreshWeather()">Refresh</button>
    </div>
  </div>

</div>

