:root{
  --header-backgroud:#e86e1e;
  --white: #fff;
  --background-color: #f5f5f5;
  --content-margin: 16px;
  --header-height: 44px;
  --header-height-lg: 56px;
  --content-width: 320px;
  --content-width-lg: 460px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.forecast-text {
  color: black;
}

.bold{
  font-weight: bold;
}
